.element__like {
  background-image: url(../../../images/Group.svg);
  margin-right: 30px;
  margin-top: 30px;
  height: 19px;background-color: transparent;
  background-size: cover;
  border: none;
  width: 21px;
  transition: 0.2s ease-in-out transform;
}

.element__like:hover {
  opacity: 0.5;
}
