.element__delete {
    background-image: url(../../../images/Trash.svg);
    width: 18px;
    height: 19px;
    position: absolute;
    margin-left: 244px;
    margin-top: 20px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    transition: opacity .2s ease-in;
}

.element__delete:hover {
    opacity: 0.5;
}