.popup__close-button {
  background-image: url(../../../images/Close\ Icon.svg);
  position: absolute;
  width: 32px;
  height: 32px;
  outline: none;
  border: none;
  top: -36px;
  right: -40px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out transform;
}

.popup__close-button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 550px) {
  .popup__close-button {
    top: -45px;
    right: 0px;
  }
}
