.element {
  max-width: 880px;
  display: grid;
  margin: auto;
  margin-top: 51px;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}

@media screen and (max-width: 900px) {
  .element {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .element {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 36px;
  }
}
